<section class="contant-section">
    <div class="contant-parts">
        <!-- First Part -->
        <div class="first-part">
            <div class="row align-items-center">
                <div class="col-12 col-md-6 img-one ps-md-5">
                    <img src="../../assets/img1.png" class="img-fluid" alt="img1">
                </div>
                <div class="col-12 col-md-6 text-center text-md-start title-one">
                    <h1>Work across devices</h1>
                    <p>All the resources you need for a succesful start in one place</p>
                    <div class="buttons">
                        <button class="btn btn-primary mb-2">Get Start Today</button>
                        <button class="btn btn-secondary mb-2">Our Plans</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Second Part -->
        <div class="second-part ">
            <div class="row gy-3">
                <!-- First Item -->
                <div class="col-12 col-md-6">
                    <div class="d-flex align-items-center live-part">
                        <div class="flex-shrink-0 live-img">
                            <img src="../../assets/person4.png" class="img-fluid" alt="person4">
                        </div>
                        <div class="flex-grow-1 ms-3 right-part">
                            <h4>Free Live Support</h4>
                            <p>We're always here whenever you need us, our free live support will answer all your
                                questions immediately.</p>
                        </div>
                    </div>
                </div>
                <!-- Second Item -->
                <div class="col-12 col-md-6">
                    <div class="d-flex align-items-center live-part">
                        <div class="flex-shrink-0 live-img">
                            <img src="../../assets/person2.png" class="img-fluid" alt="person2">
                        </div>
                        <div class="flex-grow-1 ms-3 right-part">
                            <h4>Free Live Support</h4>
                            <p>We're always here whenever you need us, our free live support will answer all your
                                questions immediately.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>